 <footer>
      <div class="dieu-kien">
        <a class="nav-link text-" href="#"
          ><img
            width="26"
            height="26"
            src="https://img.icons8.com/metro/26/airport.png"
            alt="airport"
          /><span>Các điều kiện</span></a
        >
        <p>Các điều khoản và điều kiện</p>
        <p>Thanh toán và giao nhân</p>
        <p>Chính sách bảo mật</p>
        <p>Chính sách đổi và hoàn vé</p>
      </div>
      <div class="dich-vu">
        <a class="nav-link" href="#"
          ><img
            width="26"
            height="26"
            src="https://img.icons8.com/metro/26/airport.png"
            alt="airport"
          /><span>Các điều kiện</span></a
        >
        <p>Dịch vụ trên chuyến bay</p>
        <p>Hàng hóa</p>
        <p>Khách hàng công ty</p>
        <p>Dịch vụ hành lý</p>
      </div>
      <div class="thong-tin">
        <a class="nav-link" href="#"
          ><img
            width="26"
            height="26"
            src="https://img.icons8.com/metro/26/airport.png"
            alt="airport"
          /><span>Các điều kiện</span></a
        >
        <p>Hướng dẫn đặt chỗ</p>
        <p>Quản lý đặt chỗ</p>
        <p>Kênh thanh toán</p>
        <p>Giới Thiệu</p>
      </div>

      <div class="item-picture">
        <div>
          <img
            class="img1"
            src="https://vietjetairs.com.vn/userupload/hinhanh/download_app.png"
            alt=""
          />
        </div>
        <div>
          <img
            class="img2"
            src="https://vietjetairs.com.vn/userupload/hinhanh/creditcards.png"
            alt=""
          />
          <img
            class="img2"
            src="https://vietjetairs.com.vn/userupload/hinhanh/dathongbao.png"
            alt=""
          />
        </div>
      </div>
    </footer>