 <header>
      <nav class="logo-login-menu">
        <div class="logo">
          <a href="../home"
            ><img src="../image/Remove-bg.ai_1715623620640.png" alt=""
          /></a>
        </div>
        <div class="nav-menu">
          <div><a href="../home">Trang Chủ</a></div>
          <div><a href="/ticket/create">Them ve</a></div>
          <div><a href="/choose">Vé Máy Bay</a></div>
          <div><a href="../booked">Vé Đã Đặt</a></div>
        </div>

        <div class="login">
          <a href="../login">
            <button class="btn-login">Đăng Nhập</button></a
          >
          <a href="../signout">
            <button class="btn-login">Đăng Ký</button></a
          >
        </div>
      </nav>
      <!-- backgroud 3 hinh -->
      <div><img src="" alt="" /> <img src="" alt="" /></div>
    </header>