<h3>Thêm vé máy bay</h3>
<form method="POST" action="/ticket/store">
  <div class="mb-3">
    <label for="mave">Mã vé</label>
    <input type="text" class="form-control" id="mave" name="mave">
  </div>
  <div class="mb-3">
    <label for="noixp">Nơi xuất phát</label>
    <input type="text" class="form-control" id="noixp" name="noixp">
  </div>
  <div class="mb-3">
    <label for="noihc">Nơi hạ cánh</label>
    <input type="text" class="form-control" id="noihc" name="noihc">
  </div>
  <div class="mb-3">
    <label for="tgxp">Thời gian xuat phat</label>
    <input type="text" class="form-control" id="tgxp" name="tgxp">
  </div>
  <div class="mb-3">
    <label for="tghc">Thời gian ha canh</label>
    <input type="text" class="form-control" id="tghc" name="tghc">
  </div>
  <div class="mb-3">
    <label for="giave">Giá vé</label>
    <input type="text" class="form-control" id="giave" name="giave">
  </div>
  <button type="submit" class="btn btn-primary">Thêm vé máy bay</button>
</form>
